#include <windows.h>

#define IDI_MYICON          101
#define IDD_WIDTH_DIALOG    102
#define IDB_ABOUT_BANNER    104 // New ID for the banner bitmap

// Icon declaration
// Make sure you have a "myicon.ico" file in the "assets" folder.
IDI_MYICON      ICON    "assets/myicon.ico"

// Bitmap resource declaration for the About box banner
// Make sure you have a "banner.bmp" file in the "assets" folder.
IDB_ABOUT_BANNER BITMAP "assets/banner.bmp"

// Dialog declaration for Pen Width
IDD_WIDTH_DIALOG DIALOGEX 0, 0, 180, 50
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Set Pen Width"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,123,7,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,123,25,50,14
    EDITTEXT        101,35,15,40,14,ES_AUTOHSCROLL | ES_NUMBER
    LTEXT           "Width (1-99):",-1,7,18,60,8
END
